@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: 3rem;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: left;
    // width: 100rem;
    @include m.tablet {
         flex-direction: row;
         align-items: center;
    }

    label {
        flex: 0 0 3rem;
        margin-left: 1rem;
        font-weight: bold;
        font-size: 1.7rem;
        @include m.tablet {
            flex: 0 0 10rem;
       }
    }
    input {
        flex: 1;
        border: 2px solid v.$gris;
        border-radius: 12px;
        padding: 1rem 2rem;
        width: 100%;
    }
}